<ion-header [translucent]="true">
  <ion-toolbar class="tabs-header">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6"> PlayList Name</ion-col>
      <ion-col size="1">Video</ion-col>
      <ion-col size="2">Duration </ion-col>
      <ion-col size="1">Active In</ion-col>
      <ion-col size="1">Delete</ion-col>
      <ion-col size="1">Edit</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">child-playlist</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>