<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>campaign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="active">
        <ion-icon name="newspaper-outline"></ion-icon> Active Campaign
        <ion-badge class="headerCountbadge"> 3</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="expired">
        <ion-icon name="newspaper-outline"></ion-icon> Expired Campaign
        <ion-badge class="headerCountbadge"> 2</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>