<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
  <ion-toolbar class="tabs-header">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6"> Category Name</ion-col>
      <ion-col size="1">Playlist Count</ion-col>
      <ion-col size="2">Video Count </ion-col>
      <ion-col size="1">Location Count</ion-col>
      <ion-col size="1">Delete</ion-col>
      <ion-col size="1">Edit</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">category</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>