<ion-header [translucent]="true">
  <ion-toolbar class="tabs-header">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">Video Name</ion-col>
      <ion-col size="2">Duration </ion-col>
      <ion-col size="2">Playlist Count</ion-col>
      <ion-col size="1">Delete</ion-col>
      <ion-col size="1">Edit</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <h2>Login</h2>
    <form action="#" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </div>
</ion-content>