<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>expired</ion-title>
  </ion-toolbar>
  <ion-toolbar class="tabs-header">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="5"> Campaign Name</ion-col>
      <ion-col size="1">Video</ion-col>
      <ion-col size="1">RO Status </ion-col>
      <ion-col size="2">Invoice</ion-col>
      <ion-col size="2">Playout Certificate</ion-col>
      <ion-col size="1">Edit</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">expired</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>