<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="pending-invoice">
        <ion-icon name="link-outline"></ion-icon> Pending invoice
        <ion-badge class="headerCountbadge">143</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="paid-invoice">
        <ion-icon name="unlink-outline"></ion-icon> Paid invoice
        <ion-badge class="headerCountbadge">543</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>